In [1]:
# Importando as bibliotecas necessárias
import pandas as pd
import numpy as np

## 1-D data

In [2]:
# Criando a série
series = pd.Series(dtype='float64')

In [3]:
# Adicionando uma linha
print('{}\n'.format(series))

Series([], dtype: float64)

In [5]:
# Adicionando um valor a série
series = pd.Series(5)
print('{}\n'.format(series))

0    5
dtype: int64

In [8]:
# Adicionando um valor a série
series = pd.Series([1, 2, 3])
print('{}\n'.format(series))

0    1
1    2
2    3
dtype: int64

In [9]:
# Ipcasting
series = pd.Series([1, 2.2]) 
print('{}\n'.format(series))

0    1.0
1    2.2
dtype: float64

In [11]:
# Convertendo um vetor Numpy em uma Série Pandas
arr = np.array([1, 2])
series = pd.Series(arr, dtype=np.float32)
print('{}\n'.format(series))

0    1.0
1    2.0
dtype: float32

In [13]:
# Criando um objeto Série
series = pd.Series([[1, 2], [3, 4]])
print('{}\n'.format(series))

0    [1, 2]
1    [3, 4]
dtype: object

# Index

In [15]:
# Personalizando os índices da Série
series = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print('{}\n'.format(series))

a    1
b    2
c    3
dtype: int64

In [16]:
# Personalizando os índices da Série
series = pd.Series([1, 2, 3], index=['a', 8, 0.3])
print('{}\n'.format(series))

a      1
8      2
0.3    3
dtype: int64

# Dictionary input#

In [17]:
# Adicionando elementos em uma Série no formato dicionário
series = pd.Series({'a':1, 'b':2, 'c':3})
print('{}\n'.format(series))

a    1
b    2
c    3
dtype: int64

In [18]:
series = pd.Series({'b':2, 'a':1, 'c':3})
print('{}\n'.format(series))

b    2
a    1
c    3
dtype: int64

# Time to Code!

The first Series we create will contain basic floating point numbers. The list we use to initialize the Series is [1, 3, 5.2].

In [23]:
s1  = pd.Series([1, 3, 5.2])
print(repr(s1))

0    1.0
1    3.0
2    5.2
dtype: float64

The second Series we create comes from performing elemental multiplication on s1 using a separate list of floating point numbers.

In [22]:
s2 = pd.Series([0.1, 0.2, 0.3])
s2 = s1 * s2
print(repr(s2))

0    0.10
1    0.60
2    1.56
dtype: float64

We'll create another Series, this time with integers. The list we use to initialize this Series is [1, 3, 8, np.nan]. This Series will also have row labels, which will be ['a', 'b', 'c', 'd'].

In [25]:
s3 = pd.Series({'a':1, 'b':3, 'c':8, 'd':np.nan})
print(repr(s3))

a    1.0
b    3.0
c    8.0
d    NaN
dtype: float64

The final Series we create will be initialized from a Python dictionary. The dictionary will have key-value pairs 'a':0, 'b':1, and 'c':2.

In [27]:
s4 = pd.Series({'a':0, 'b':1, 'c':2})
print(repr(s4))

a    0
b    1
c    2
dtype: int64